{% extends "contenido/encabezado.html" %}
{% load static %}                                       

{% block imagen %}{% static 'contenido/images/carlos.jpg' %}{% endblock %}

{% block titulo %}NOMBRE{% endblock %}

{% block nombre_seccion %}Nombre{% endblock %}

{% block breadcrumb %}Nombre{% endblock %}

{% block encabezado_pagina %}
<div class="page-header">
    <div class="page-title">
        <h3>Nombre
           
        </h3>
    </div>
</div>
{% endblock %}
{% block contenido %}
   
{% endblock %} 