{% extends "contenido/encabezado.html" %}
{% load static %}
{% block imagen %} {% static 'contenido/images/django.png' %} {% endblock %}

{% block titulo %} Cursos Django {% endblock %}
{% block nombre_seccion %}Principal{% endblock %}
{% block breadcrumb %}Principal{% endblock %}


{% block encabezado_pagina %}
<!--Encabezdo -->
			<div class="page-header">
				<div class="page-title">
					<h3>Bienvenido DJANGO </h3>
				    
				</div>

				
				
			</div>
			<!-- /Encabezado-->
{% endblock %}

{% block contenido %}

{% endblock %}